.mat-expansion-panel,
.mat-expansion-panel:hover,
.mat-expansion-panel:focus {
    background-color: whitesmoke;
    margin-bottom: 10px;
}

.border-margin{
    margin: 5px;
}

.border-top{
    margin-top: 10px;
}

.button-margin{
    margin-left: 5px;
    margin-right: 5px;
}

.ag-font-style {
    user-select: initial;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
  }