.my-drop-zone {
    border: dotted 3px lightgray;
    width: 100%;
    height: 400px;
    text-align: center;
  }
  .my-drop-zone span {
    margin: auto;
  }
  .nv-file-over {
    border: dotted 3px red;
  }