<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="!editCertificate" class="card" style="margin-top: -15px">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Seznam količin</h4>
                        <p class="card-category">Prikazane so veljavne količine za posamezen proizvod</p>
                    </div>
                    <div class="card-body">
                        <!-- Serach bar -->
                        <div *ngIf="!editCertificate" class="row-xl-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Išči proizvod ali subjekt" type="text"
                                    name="find" #find="ngModel" [(ngModel)]="query" (keydown)="keyDownFunction($event)">
                            </mat-form-field>
                            <button *ngIf="!showFileUpload" mat-raised-button type="submit"
                                class="btn btn-info pull-right" (click)="executeQuery()">
                                <mat-icon>search</mat-icon>
                                Izvedi iskanje
                            </button>
                        </div>
                        <!-- Toolbar -->
                        <div flex *ngIf="!editCertificate && !showFileUpload && !selectedSource">
                            <!--<button mat-raised-button class="btn btn-info" matTooltip="Odpri in uredi certifikat"
                                (click)="openCertificate()">
                                <mat-icon>launch</mat-icon>
                                Odpri certifikat
                            </button>
                             <button mat-raised-button class="btn btn-info"
                                matTooltip="Uvoz količin iz VOLOS podatkovne zbirke" (click)="sourceSelect('VOLOS')">
                                <mat-icon>open_in_browser</mat-icon>
                                Uvoz količin VOLOS
                            </button>
                            <button mat-raised-button class="btn btn-info" matTooltip="Uvoz količin o mleku"
                                (click)="sourceSelect('MLEKO')">
                                <mat-icon>open_in_browser</mat-icon>
                                Uvoz količin MLEKO
                            </button>
                            <button mat-raised-button class="btn btn-info" matTooltip="Uvoz količin o sadju"
                                (click)="sourceSelect('SADJE')">
                                <mat-icon>open_in_browser</mat-icon>
                                Uvoz količin SADJE
                            </button> -->
                            <button mat-raised-button class="btn btn-info" matTooltip="Uvoz količin iz Excel datoteke"
                                (click)="importExcel()">
                                <mat-icon>open_in_browser</mat-icon>
                                Uvoz količin iz Excel
                            </button>
                            <button mat-raised-button class="btn btn-info" matTooltip="Izvoz količin v Excel datoteko"
                                (click)="exportToExcel()">
                                <mat-icon>import_export</mat-icon>
                                Izvoz v Excel
                            </button>
                        </div>
                        <!-- Source inputs-->
                        <div *ngIf="selectedSource && !editCertificate && !showFileUpload" class="d-flex container">

                            <mat-form-field class="button-margin">
                                <input matInput name="year" type="number" placeholder="Izberite leto"
                                    [(ngModel)]="selectedYear" required>
                            </mat-form-field>

                            <button mat-raised-button type="submit" matTooltip="Izvede poizvedbo za dane iskalne pogoje"
                                class="btn btn-info button-margin" (click)="sourceGet()">
                                <mat-icon>search</mat-icon>
                                Izvedi
                            </button>
                            <button mat-raised-button type="submit" (click)="sourceSelect(null)"
                                matTooltip="Ponastavi iskalne pogoje" class="btn btn-secondary button-margin">
                                <mat-icon>clear</mat-icon>
                                Prekini
                            </button>

                        </div>
                        <!-- GRID -->
                        <div class="table-responsive" *ngIf="!showFileUpload && !editCertificate">
                            <ag-grid-angular domLayout="autoHeight" class="ag-theme-balham" [rowData]="page.result"
                                [gridOptions]="gridOptions" [paginationPageSize]="20"
                                (selectionChanged)='onSelectionChanged($event)'>
                            </ag-grid-angular>
                        </div>
                        <!-- File upload -->
                        <file-upload class="d-flex flex-column" *ngIf="showFileUpload"
                            (onClose)="onUploadClose($event)" [action]="'KOLICINA'">
                        </file-upload>
                    </div>
                </div>
                <!-- Certificate form-->
                <div *ngIf="editCertificate" class="card" style="margin-top: -15px">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Pregled certifikata {{certifikat.stevilka}}</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <esk-certifikat-form [selectedValue]="certifikat" (onApply)="closeCertificate($event)"
                            (onClose)="closeCertificate($event)">
                        </esk-certifikat-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>